@model Dictionary<SecretSanta.Models.Person, SecretSanta.Models.Person>
@{
    ViewBag.Title = "SecretSantaList";
}

<h2>SecretSantaList</h2>

<table class="table table-bordered table-hover">

    <tr>
        <th>Receiver</th>
        <th>Secret Santa</th>
    </tr>
    @foreach (var pair in Model)
    {
        <tr>
            <td>
                @pair.Value.FirstName @pair.Value.LastName
            </td>
            <td>
                @pair.Key.FirstName @pair.Key.LastName
            </td>
        </tr>
    }
</table>